*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;
}

@media only screen and (max-width: 500px){

	h1{
		font-size: 50px;
	}

	h2{
		font-size: 30px;
	}
	p{
		font-size: 20px;
	}
	.radio{
		font-size: 15px;

	}

	.main-container .your-event{
		margin-left: 50px;
		margin-right: 50px;

	}

	.main-container .contact-title{
		padding-top: 0px;
	}

	.main-container .details{
		margin-left: 50px;
		margin-right: 50px;
		font-size: 15px;
		text-align: center;
	}

	label{
		padding-bottom: 20px;
	}

	.main-container .button{
		display: block;
		text-align: center; 
		padding-top: 20px;
	}

	.main-container .button1{

		width: 50px;
		height: 50px;
		font-size: 10px;

	}
	.main-container .button2{
		margin-left: 0px;
	}

}

@media only screen and (max-width: 768px){

	h2{
		font-size: 30px;
	}
	p{
		font-size: 15px;
	}

	.main-container .your-event{
		margin-left: 50px;
		margin-right: 50px;
	}

	.main-container .radio{
		font-size: 20px;
	}

	.main-container .details{
		font-size: 20px;
		
	}

	.main-container .button{
		width: 50px;
		height: 50px;
		padding-top: 20px;
	}
}



@media only screen and (max-width: 1200px){

	.main-container .radio{
		width: 70%;
		margin: 0 auto;

		
	}

	.main-container .details{
		width: 50%;
		margin: 0 auto;
		padding-top: 30px;
	}


}



html, body {
	width: 100vw;
}
body{
	width: 100%;
	min-height: 100%;
	margin: 0px;
	background-color: white;
	font-family: arial;
}

.main-container{
	height: 100%;
	width: 100%;
	margin-bottom: 40px;
}

h1{
	background-color: #696766;
	background: -webkit-linear-gradient(#9E9B9B, #696766, #525252);	
	color: #FAE06E;
}

.title {
	width: 100%;
	margin: 0 auto;
	padding-top: 200px;
	font-size: 40px;
}

.contact-title{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 200px;
	font-size: 60px;
}

.center{
	text-align: center;
}


.your-event{

	font-size: 30px;
	margin: 0 auto;
	margin-left: 100px;
	margin-right: 100px;

}

.radio{
	padding: 20px;
}



textarea{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
	border-width: 2px;
}

.box-area{
	max-width: 620px;
	margin: 0 auto;
}

.details{
	font-size: 30px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
}

.button1{
	width: 100px;
	height: 100px;
	font-size: 14px;
}


.button{
	width: 100px;
	margin: 0 auto;
}

.button2{
	display: inline-block;	
	margin-left: 40px;
}
