*{
	text-decoration: none;
	padding: 0px;
	box-sizing: border-box;
}
html, body {
	height: 100vh;
	width: 100vw;
}
body{
	width: 100vw;
	min-height: 100vh;
	margin: 0px;
	background-color: white;
}
img{
	width: 100%;
}

.main-container{
	width: 100%;
	margin-bottom: 200px; 
}

/*OOSCSS COMMON VARIABLES*/

.text{
	font-family: arial;
}

.cover-image{
	width: 100%;
}

/*CONTENT CSS*/

.content-container{
	width: 100%;
	min-height: 100%;
}


.content-title{
	padding: 5px;
	text-align: left;
	background-color: #696766;
	padding-left: 20px;
	font-size: 20px;
	background: -webkit-linear-gradient(#9E9B9B, #696766, #525252);	
	letter-spacing: 5px;
	color: #FAE06E;
}

.content-images{
	float: left;
	border-radius: 550px;
	box-shadow: 0 0 60px #696766;
}

.content-text{
	float: left;
	color: black;
	text-align: center;
}

.content-title-first{
	margin-top: 0px;
}

.info-text {
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
}

.info-title{
	font-size: 20px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}

.content{
	padding: 20px;
	float: left;
	width: 100%;
}

/*DAY CSS---<Makes the styles change on the Day*/

.content-title-day{
	padding: 5px;
	text-align: left;
	background-color: #696766;
	padding-left: 20px;
	font-size: 20px;
	background: -webkit-linear-gradient(#FFFF99, #FAE06E, #FFD300);	
	letter-spacing: 5px;
	color: #696766;
}

.content-images-day{
	width: 100%;
	border-radius: 550px;
	box-shadow: 0 0 60px #696766;
}

/*Makes all the containers work*/

.activities{
	display: inline-block;
}

.events {
	display: inline-block;
}

.food-drink{
	display: inline-block;
}

.sites{
	display: inline-block;
	margin-bottom: 100px;
}

/* button is for "more info" */

.button{
	background: #A8A4A3;
	color: white;
	display: block;
	font-size: 20px;
	padding: 5px 0px;
	text-align: center;
	width: 100px;
	text-decoration: none;
	box-shadow: 8px, 8px, 5px white;
	margin-right: 35%;
	float: right;
}

/*FOOTER*/

#footer{
	max-width:100vw;
	width: 100%;
	background:#A8A4A3;
	min-height: 80px;
	bottom: 0;
	position: fixed;
}

.hamburger{
	background:none;
	position:absolute;
	float: left;
	line-height:45px;
	padding:20px 0px 0px 25px;
	color:#3C3C3C;
	border:0;
	font-size:2em;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
}
.cross{
	background:none;
	position:absolute;
	bottom:0px;
	right:0;
	padding:7px 15px 0px 15px;
	color:black;
	border:0;
	font-size:5em;
	line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:10000000000000;
	display: none;
}

.menu{
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.8em; 
	width:100%; 
	background:#f1f1f1;  
	text-align:center;
	font-size:12px;
	display: none;
}

.menu ul{
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

.menu li{
	display: block;   
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
}

.menu li:hover{
	display: block;    
	background:#ffffff; 
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#666;
}

.menu ul li a:hover {  
	color: #666; 
	text-decoration:none;
}

.menu a{
	text-decoration:none; 
	color:#666;
	font-size: 30px;
	font-family: arial;
}

.menu a:hover{
	text-decoration:none; 
	color:#666;
}

.arrow-up {
  	width: 0; 
  	height: 0; 
  	border-left: 25px solid transparent;
  	border-right: 25px solid transparent;
    border-bottom: 25px solid #3C3C3C;
    float: right;
    padding-top: 25px;
    margin-right: 45px;
}


/*RESPONSIVE TO SIZING*/
/* MEDIA QUERIES*/


@media only screen and (min-width: 499px) and (max-width: 599px) {
	.content{
		width: 100%;
	}
	.content-images,
	.content-images-day{
		margin-top: 10px;
		width: 50%;
		float: left;
	}

	.content-text{
		width: 50%;
		float: left;
	}
	.info-text{
		font-size: 1em;
	}
	.info-title{
		font-size: 1.2em;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 799px) {
	.content{
		width: 50%;
	}
	.info-text{
		font-size: 1.1em;
	}
	.info-title{
		font-size: 1.3em;
	}
	#footer{
		min-width: 150px;
	}
	.hamburger{
		padding:20px 0px 0px 15px;
		font-size:4em;
	}
	.arrow-up{
		width: 0; 
	  	height: 0; 
	  	border-left: 35px solid transparent;
	  	border-right: 35px solid transparent;
	    border-bottom: 35px solid #3C3C3C;
	    float: right;
	    padding-top: 20px;
	    margin-right: 45px;
	}
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
	.content-images{
		float: left;
		width: 40%;
	}
	.content-images,
	.content-images-day{
		margin-top: 10px;
		width: 40%;
		float: left;
	}

	.content-text{
		margin-top: 20px;
		width: 50%;
		float: left;
		margin-left: 30px;
	}
	.info-text{
		font-size: 1.2em;
	}
	.info-title{
		font-size: 1.3em;
		margin-bottom: 30px;
	}
}


@media only screen and (min-width:1000px) {
	.main-container{
		width: 100%;
		height: 100%;
	}
	#Day{
		float: left;
		width: 50%;
	}
	#Night{
		float: left;
		width: 50%;
	}
	.content{
		float: left;
		width: 50%;
		padding-bottom: 20px;
		max-height: 700px;
	}
	.info-text{
		font-size: 1em;
	}
	.info-title{
		font-size: 1.2em;
	}
	#footer{
		min-height: 60px;
	}
	.arrow-up {
	  	border-left: 25px solid transparent;
	  	border-right: 25px solid transparent;
	    border-bottom: 25px solid #3C3C3C;
	    padding-top: 20px;
	    margin-right: 25px;
	}
	.hamburger{
		padding:10px 0px 0px 25px;
		font-size:2.3em;
	}
}









